.missionCard {
  position: relative; /* Needed for overlay positioning */
  padding: 1rem;
  margin: 1rem 15rem;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-family: futura, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 30px rgba(119, 119, 119, 0.2);
  letter-spacing: 0.1cap;
  transition: transform 0.3s ease, color 0.3s ease;
  overflow: hidden; /* Ensures overlay doesn't spill out */
}

.missionCard:hover{
  transform: scale(1.1);
}

.headerRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.icon {
  margin-right: 1rem;
  text-shadow: 0 0 10px rgba(29, 108, 147, 0.5);
  font-size: 2rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.8rem; /* Bigger title font */
  margin: 0;
  color: #000;
  font-family: bebas;
}

.missionId {
  font-size: 1.2rem;
  color: #aaa;
}

.detailsRow {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.detail {
  flex: 1;
  color: #000;
  font-size: 1.5rem;
}

.detailLabel {
  font-weight: bold;
  margin-right: 0.25rem;
}

.buttonContainer {
  text-align: center;
  margin-top: 1rem;
}

.viewVideoBtn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewVideoBtn:hover {
  background-color: #333;
}

/* Overlay styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  font-family: futura;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.missionCard:hover .overlay {
  opacity: 1;
}
